*{ 
margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #25252b;
}
.gift-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom:20%;
}
.gift-container .gift.box{
  position: absolute;
  height: 200px;
  width: 300px;
  background: #ec9c4a;
}
.gift-box::before{
  content:'';
  position: absolute;
  width: 50px;
  height: 200px;
  background: #e76f51;
  left: 124px;
}
.gift-box::after{
   content:'';
  position: absolute;
  box-shadow: inset 0 10px rgba(0,0,0,.3)
  width: 300px;
  height: 200px;
}
 .click{
  position: absolute;
   background: #ec9c4a;
  width: 340px;
  height: 90px;
  top: -90px;
   left: -20px;
   cursor: pointer;
   z-index: 1;
 }
.click::before{
   content:'';
  position: absolute;
  width: 50px;
  height: 90px;
  background: #e76f51;
  left: 144px;
  z-index: 2;
}
.click::afetr{
   content:'';
  position: absolute;
  width: 5px;
  height: 0;
  border-bottom: 60px solid #e76f51;
   border-top: 60px solid #e76f51;
  border-left: 0px solid transparent;
  border-right: 60px solid transparent;
  transform: rotate(-90deg);
  top: -93px;
    left: 136px;
  z-index: 3;
}
   
  
  
